<!DOCTYPE html>
<html>
<head>
  <title>Bruxopedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
 <ul class="nav nav-tabs">
       <li class = "main-links"><%= link_to "Home", root_path %></li>
       <li class = "main-links"><%= link_to "Home", root_path %></li>
       <li class = "main-links"><%= link_to "Home", root_path %></li>
       <li class = "main-links"><%= link_to "Home", root_path %></li>
       <li class = "main-links"><%= link_to "Home", root_path %></li>
       <li class = "main-links"><%= link_to "Home", root_path %></li>
 </ul>
</div>
<%= yield %>

</body>
</html>
